/*General*/

body {
    font-family: 'Comfortaa', cursive;
    color: white;
    text-shadow: black 3px 3px 5px;
    background: url("../img/bg.jpg");
}

main {
    background: url("../img/bg1.jpg") center no-repeat;
    background-size: cover;
    height: 80vh;
    cursor: url("../img/cursor_main_mini.png"), pointer;
}

#carte {
    background: url("../img/bg.png");
    background-size: cover;
    padding: 1em 0;
    height: 80vh;
    box-shadow: black 2px 2px 10px;
}

img {
    width: 200px;
    margin-bottom: 1em;
    margin-left: 1em;
    box-shadow: black 2px 2px 10px;
}

header {
    color: red;
    text-shadow: black 3px 3px 5px;
    text-align: center;
}

#instruct {
    margin-left: 1.9em;
    margin-top: 4.5em;
    font-size: 25px;
    color: black;
    text-shadow: #444 2px 1px 1px;
    position: absolute;
    font-weight: bold;
}

#batailleP img,
#batailleC img {
    width: 50px;
}

#carteC img,
#carteP img {
    width: 188px;
}

#pioche {
    visibility: hidden;
}

#btnV,
#reset {
    background: white;
    color: red;
}

input {
    width: 100px;
}

#modV,
#modP {
    color: black;
    text-shadow: none;
}

#modP h5 {
    color: red;
}

button {
    background: white;
    border: solid 1px black!important;
    color: rgb(202, 110, 110)!important;
    cursor: default;
}

.score {
    background: rgba(26, 25, 26, 0.63);
    box-shadow: black 4px 4px 10px;
    min-height: 35%;
    height: fit-content;
    cursor: default;
}
#hscore {
    display: none;
}
}

#winP,
#winC {
    margin-top: 0.5em;
    visibility: hidden;
}

.modal {
    cursor: default;
}

#winP img,
#winC img {
    width: initial;
    box-shadow: none;
    float: right;
}

footer {
    margin-top: 100px!important;
}

#hscore {
    text-align: center;
}

.scoretable {
    margin: 0 auto;
}


/*Radio*/

.form-check-input:checked {
    color: #fff;
    border-color: white;
    background-color: red;
}

.form-check-input {
    margin-left: 1em;
}

.form-check-input:focus {
    color: #fff;
    box-shadow: none;
}


/*highscore*/

tr,
td {
    border: 1px solid black;
    width: 150px;
    background: rgba(26, 25, 26, 0.63);
    box-shadow: black 4px 4px 10px;
    padding: 0.5em;
}

@media screen and (max-width: 992px) {
    main {
        background-size: contain;
        height: 60vh;
    }
    #main {
        height: 80vh;
    }
    header {
        display: none;
    }
    img {
        width: 150px;
        margin-bottom: 1em;
        margin-left: 1em;
        box-shadow: black 2px 2px 10px;
    }
    #carteC img,
    #carteP img {
        width: 141.5px;
    }
    h3 {
        font-size: 1em;
    }
    #instruct {
        margin-left: 1.8em;
        margin-top: 4.2em;
        font-size: 20px;
    }
    footer {
        margin-top: 500px!important;
    }
}
